*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.create{
    color:rgb(212, 212, 96);
    text-align: center;
    font-size: 100px;
}
.btn{
    background-color:red;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(127, 29, 41);
    cursor: pointer;
    border-radius: 20px;
    color: white;
}
.btn2{
    background-color: rgb(131, 193, 39);
width: 200px;
height: 50px;
border: 2px solid rgb(110, 134, 66);
cursor: pointer;
border-radius: 20px;
color: white;
}
.center{
    text-align: center;
    padding-top: 200px;
}
#para{
    color: rgb(212, 212, 96);
    text-align: center;
    font-size: 30px;
}
#btn3{
    background-color: rgb(131, 193, 39);
    width: 290px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
   margin-left: 200px;
   margin-top: 40px;
   gap:40px ;
}
#btn5{
    background-color: rgb(131, 193, 39);
    width: 290px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
   margin-left: 490px;
   margin-top: 40px;
}
#btn6{
    background-color: rgb(131, 193, 39);
   width: 290px;
   height: 50px;
   cursor: pointer;
   border-radius: 20px;
    color: white;
}
#btn7{
    background-color: rgb(131, 193, 39);
   width: 290px;
   height: 50px;
   cursor: pointer;
   border-radius: 20px;
    color: white;
}
#btn8{
    background-color: rgb(65, 100, 255);
   width: 150px;
   height: 50px;
   cursor: pointer;
   border-radius: 10px;
    color: white;
    margin-left: 990px;
}
    #change2{
    text-align: center;
    margin-top: 30px;
    color: rgb(212, 212, 96);}
