*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-image: url(./images/pexels-karolina-grabowska-4814061.jpg);
}
.create{
    color:rgb(212, 212, 96);
    text-align: center;
    font-size: 100px;
}
.btn{
    background-color:red;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(127, 29, 41);
    cursor: pointer;
    border-radius: 20px;
    color: white;
}
.btn2{
    background-color: greenyellow;
width: 200px;
height: 50px;
border: 2px solid rgb(110, 134, 66);
cursor: pointer;
border-radius: 20px;
color: white;
}
.center{
    text-align: center;
    padding-top: 200px;
}